            #nave{
				height: 50px;
			}
			#nave ul h3{

			font-size:15px;
		 	color: white;
		 	
		    }

			#nave ul li{
			font-size: 10px;
			float: right;
			display: flex;
			padding-left: 5px;
			padding-top: 9px;
			padding-right: 5px;
			margin: 5px;
            }
            form{
            	width:300px;
            }

			#mb{
			opacity: 1;
		    }
		    #mb img{
               padding-top: 150px;
			
		    }
		    #mb b{
			font-size: 40px;
			}	

			#pc img{
				padding-top: 0px;
			}
			#Portfolio p{
			
			font-size: 40px;
		    }
		    #Portfolio img{
		    	height: 90px;
		    	width: 90px;
		    }
		    #About{
		    	

		    }
		  
		    #j2 p{
		    	font-size: 40px;
			    text-align: center;
			    padding-top: 5px;
			   }
			 #j1 p{
		    	font-size: 15px;
                padding-left: 10px;
			   }  
			 #j3 p{
		    	font-size: 15px;
                padding-left: 10px;
			   }

			   
		    #ft{
		    	height: 130px;
		    }
		     
		    .f1{
		    	font-size: 10px;
		    }
		    .f2{
		    	font-size: 10px;
		    }
		    .f3{
		    	font-size: 10px;
		    }

			#k1{
			
			padding-top: 10px;
			padding-left: 10px;
			
		    }
		    #k2{
			padding-top: 10px;
			padding-right: 10px;
			
		    }
		    #k3{
			padding-top: 70px;
			padding-left: 0px;
			padding-bottom: 10px;
			
		    }
		    #k3 img{
		    	border: 2px solid gray;
		    	border-radius: 5px;
		    }
		    #k3 img a{

		    	background-size: cover ;
		    	padding-left: 8px;
		    	padding-bottom: 10px;
		    	height: 15px;
		    	width: 15px;

			   }
			   #d1{
			   	font-size: 15px;
			  	color: blue;
			  }
			  #d2{
			    font-size: 15px;
			  	color: blue;
		       }
		      #d3{
			   	font-size: 25px;
			  	color: black;
		    }